@charset "UTF-8";

:root{
   --cor1: #203C73;
   --cor2: rgb(5, 9, 94);
   --cor3: #375CA6;
   --cor4: #52CBD9;
   --cor5: #9DBF21;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-height: 100px;
    text-align: center;
    padding-top: 40px ;
}

header img{
    width: 50px;
    margin-top: -20px;
    background-color: white;
    border-radius: 50%;
}

header >h1 > a{
        text-decoration: none;
        margin-bottom: 20px;
        color: var(--cor5);
        font-size: 4vw;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav{
    background-color: var(--cor2);
    padding: 10px;
    box-shadow:0px 7px 7px rgba(0, 0, 0, 0.459);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-align: center;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    position: absolute;
    left: 18%;
    top: 43%;
    transform: translate(-50% -50%);
}

#container{
    max-width: 500px;
    margin: 20px auto;
}

#container > div{
    display: inline-block;
    width: 85px;
    height: 85px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 12px;
    border: 2px solid var(--cor5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

div p{
    padding-top: 3px;
    text-align: center;
    font-weight: bold;
}

div a{
    text-decoration: none;
    color: black;
}

div img{
    display: block;
    margin: auto;
}

iframe{
    display: block;
    width: 90vw;
    height: 74vh;
    margin: 20px auto;
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    font-weight: bold;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

footer a:hover{
    color: var(--cor5);
    text-decoration: underline;
    font-size: 1.3em;
}

.rodape{
    display: block;
    margin: auto;
}